*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Spartan',sans-serif;
}
h1{
	font-size: 50px;
	line-height: 64px;
	color: #222;
}
h2{
	font-size: 46px;
	line-height: 54px;
	color: #222;
}
h4{
	font-size: 20px;
	color: #222;
}
h6{
	font-weight: 700;
	font-size: 12px;
}
p{
	font-size: 16px;
	color: #465b5Z;
	margin: 15px 0 20px 0;
}
.logo{
	border-radius: 80px;
	height: 120px;
	width: 120px;
	margin-left: -70px;
}
.section-p1{
	padding: 10px ;
}
.section-m1{
	margin: 10px 10px;
}
button.normal{
	font-size: 14px;
	font-weight: 600;
	padding: 15px 30px;
	color: #000;
	background-color: #fff;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;
}
button.white{
	font-size: 13px;
	font-weight: 600;
	padding: 11px 18px;
	color: darkred;
	background-color: transparent;
	cursor: pointer;
	border: 1px solid #fff;
	outline: none;
	transition: 0.2s;
}
body{
	width: 100%;
}
#header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 80px;
	background: hotpink;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
}
#navbar{
	display: flex;
	align-items: center;
	justify-content: center;

}
#navbar li{
	padding: 0 20px;
	position: relative;
}
#navbar li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #1a1a1a;
	transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
	color: purple;

}
#navbar li a.active::after,
#navbar li a:hover::after{
	content: "";
	width: 30%;
	height: 2px;
	background: purple;
	position: absolute;
	bottom: -4px;
	left: 20px;
}
.hero{
	background-image: url('asd.jpg');
	background-repeat: no-repeat;
	background-position: top 25% right 10%;
	background-size: 800px 800px;
	width: 100%;
	height: 90vh;
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.hero h4{
	padding-bottom: 15px;
}
.hero h1{
	color: #088178;
}
.hero button{
	background-image: url('button3.jpg');
	background-color: transparent;
	border: 0;
	color: #088178;
padding: 14px 80px 14px 65px;
background-repeat: no-repeat;
cursor: pointer;
font-weight: 700;
font-size: 15px;
}
#feature .fe-box{
width: 180px;
text-align: center;
padding: 25px 5px;
box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
border: 1px solid #cce7d0;
border-radius: 4px;
margin: 15px 30px;
float: left;
}
#feature .fe-box:hover{
	box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
}
#feature .fe-box img{
	
	margin-bottom: 10px;
}
#feature .fe-box h6{
	padding: 9px 8px 6px 20px;
	line-height: 1;
	border-radius: 4px;
	color: #088178;
	background-color: #fddde4;
	display: inline-block;
}
#feature .fe-box:nth-child(2) h6{
	background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
	background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
	background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
	background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
	background-color: #fff2e5;
}
#product1{
	text-align: center;
}
#product1 .pro-container{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	flex-wrap: wrap;
}
#product1 .pro{
	width: 15%;
	min-width: 250px;
	padding: 10px 12px;
	border: 1px solid #cce7d0;
	border-radius: 25px;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
	cursor: pointer;
	margin: 15px 0;
	transition: 0.2s ease;
	position: relative;
}
#product1 .pro:hover{
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
	width: 100%;
	border-radius: 20px;
}
#product1 .pro .des{
	text-align: start;
	padding: 10px 0;
}
#product1 .pro .des span{
	color: #606063;
	font-size: 12px;
}
#product1 .pro .des h5{
	padding-top: 7px;
	color: #1a1a1a;
	font-size: 14px;
}
#product1 .pro .des i{
	font-size: 12px;
	color:rgb(243, 181, 25);
}
#product1 .pro .des h4{
	padding-top: 7px;
	font-size: 15px;
	font-weight: 700;
	color: #088178;
}
#product1 .pro .cart{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	background-color: #eBf6ea;
	font-weight: 500;
	color: #088178;
	border: 1px solid #cce7d0;
	position: absolute;
	bottom: 20px;
	right: 15px;
}
#banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url("cover1.jpg");
	background-size:  cover;
	background-position: center;
	height: 25vh;
	width: 100%;
	
}
#banner h4{
	color: black;
	font-size: 16px;
	

}
#banner h2{
color: black;
font-size: 30px;
padding: 10px 0;

}
#banner h2 span{
color: darkred;
}
#banner button:hover{
	background: purple;
	color: #fff;
}
#sm-banner{
	display: flex;
	justify-content: space-between;
	
	flex-wrap: wrap;
}
#sm-banner .banner-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	
	background-image: url("cr1.jpg");
	background-size:  cover;
	background-position: center;
	height: 60vh;
	min-width: 720px;
	padding: 30px;

}
#sm-banner .banner-box2{
background-image: url("cr4.jpg");
}
#sm-banner h4{
	color: black;
	font-size: 20px;
	font-weight: 300;
}
#sm-banner h2{
	color: black;
	font-size: 28px;
	font-weight: 800;
}
#sm-banner span{
	color: black;
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
	background: skyblue;
	border: 1px solid skyblue;

}

#banner3{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 10px;

}

#banner3 .banner-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	
	background-image: url("gr1.jpg");
	background-size:  cover;
	background-position: center;
	height: 40vh;
	min-width: 30%;
	padding: 20px;
	margin-bottom: 20px;

}
#banner3 .banner-box2{
	background-image: url("gr222.jpg");
}
#banner3 .banner-box3{
	background-image: url("gr3.jpg");
}

#banner3 h2{
	color: black;
	font-size: 22px;
	font-weight: 900;
}
#banner3 h3{
	color: darkred;
	font-size: 15px;
	font-weight: 800;
	
}
#newsletter{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	background-image: url();
	background-repeat: no repeat;
	background-position: 20% 30%;
	background-color: #041e42;
}
#newsletter h4{
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	padding-left: 30px;
}
#newsletter p{
	font-size: 14px;
	font-weight: 600;
	color: #818ea0;
	padding-left: 30px;
}
#newsletter p span{
	color: #ffbd27;
}
#newsletter .form{
	display: flex;
	width: 40%;
	padding-right: 40px;

}
#newsletter input{
	height: 3.125rem;
	padding: 0 1.25em;
	font-size: 14px;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#newsletter button{
	background-color: #088178;
	color: #fff;
	white-space: nowrap;

}
footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
footer .col{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
	padding-left: 40px;
}
footer .logo1{
	margin-bottom: 30px;
}
footer h4{
	font-size: 14px;
	padding-bottom: 20px;
	
}
footer p{
	font-size: 13px;
	margin: 0 0 8px 0;

}
footer a{
	font-size: 13px;
	text-decoration: none;
	color: #222;
	margin-bottom: 10px;
	
}
footer .follow{
	margin-top: 20px;
}

footer .follow i{
	color: #465b52;
	padding-right: 4px;
	cursor: pointer;
}

footer .install .row img{
	
}

footer .install img{
	margin: 10px 0 15px 0;

}

footer .follow i:hover{
	color: #088178;
}
footer a:hover{
	color: #088178;
}
.copyright{
	padding-left: 45%;
}
